host: 0.0.0.0
port: 8803
interval: 1h
logLevel: info
credentials:
  site.domain:
    login:
    password:
notifications:
  trayMessage: true
  KDEMessage: true
  openInBrowser: true
  openFile: true
autoDownloadDir: /var/torrents
transmission:
  login:
  password:
  rpcUrl:
  folders:
    folderName: /absolute/path