interval: 1h
logLevel: info
credentials:
  site.domain:
    login:
    password:
notifications:
  openInBrowser: true
  openFile: true
  message:
    KDE: true
    tray: true
autoDownloadDir: /var/torrents # outdated
transmission:
  login:
  password:
  rpcUrl:
  folders:
    folderName: /absolute/path